/* Created by Paul Gonzalez Becerra */

noscript
{
	font-size:	24px;
}

#header
{
	width:	70%;
	height:	48px;
	margin-left:	15%;
	margin-right:	15%;
}

ul.main-nav li
{
	width:	25%;
	float:	left;
	height:	48px;
	line-height:	48px;
	letter-spacing:	2px;
	text-align:	center;
	transition:	background-color 800ms;
	-moz-user-select:	none;
	-webkit-user-select:	none;
	user-select:	none;
}

ul.main-nav li:hover
{
	background-color:	#aaddff;
	cursor:	pointer;
}

li.currSel
{
	background-color:	#aaccff;
}

.locked-down
{
	background-color:	#aaaaaa;
	pointer-events:	none;
}

ul.main-nav li.locked-down:hover
{
	background-color:	#bbbbbb;
}

#content
{
	width:	100%;
	height:	512px;
}

#footer
{
	width:	70%;
	height:	48px;
	margin-left:	15%;
	margin-right:	15%;
	border:	1px solid #003366;
	text-align:	center;
	line-height:	48px;
	letter-spacing:	2px;
	bottom:	0px;
	position:	relative;
}

ul.listbox
{
	width:	256px;
	height:	128px;
	overflow:	auto;
	list-style:	none;
	padding-left:	0px;
	margin-bottom:	0px;
}

ul.listbox-character-select li
{
	text-align:	center;
	height:	24px;
	line-height:	24px;
	-moz-user-select:	none;
	-webkit-user-select:	none;
	user-select:	none;
	cursor:	pointer;
}

ul.listbox-character-select li:hover
{
	background-color:	#aaddff;
}

#textholder
{
	background-color:	#ffffff;
	height:	96px;
	width:	100%;
	font-size:	24px;
	line-height:	32px;
	letter-spacing:	2px;
	padding-left:	10%;
	padding-right:	10%;
	position:	absolute;
	top:	50%;
	pointer-events:	all;
}

#nextText
{
	background-color:	#dddddd;
	width:	128px;
	position:	absolute;
	top:	50%;
	right:	256px;
	margin-top:	104px;
	transition:	background-color 100ms;
	pointer-events:	all;
}

#nextText:hover
{
	background-color:	#ffffff;
}

/* End of File */