/* Created by Paul Gonzalez Becerra */

.front-and-center
{
	width:	100%;
	line-height:	100px;
	text-align:	center;
}

.square
{
	min-height:	32px;
	line-height:	32px;
}

.padded
{
	padding:	16px;
}

.code-excerpt
{
	background-color:	#333333;
	color:	#ffffff;
	border-radius:	3px;
	padding:	2px 4px;
	font-size:	90%;
	font-family:	Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Color Codes */
.cc-xout		{	color:	#a4a4a4;	}
.cc-inst		{	color:	lime;	}
.cc-type		{	color:	yellow;	}
.cc-cmnt		{	color:	#00ffff;	}
.cc-name		{	background-color:	ghostwhite;	color:	black;	}
.cc-public		{	background-color:	#0c7b96;	color:	white;	}
.cc-protected	{	background-color:	#88368b;	color:	white;	}
.cc-desc		{	background-color:	#686c75;	color:	white;	}
.cc-more		{	background-color:	#9eaebb;	color:	white;	}
.cc-odd			{	background-color:	ghostwhite;	color:	black;	}
.cc-even		{	background-color:	#686c75;	color:	white;	}

.cc-odd > div:first-child, .cc-even > div:first-child	{	text-align:	right;	}

a.cc-link		{	color:	white;	}
a.cc-link:hover		{	color:	white;	}
.cc-odd a.cc-link		{	color:	black;	}
.cc-odd a.cc-link:hover	{	color:	black;	}
.cc-even a.cc-link		{	color:	white;	}
.cc-even a.cc-link:hover	{	color:	white;	}

/* Rainbow Colors */
.rc-red		{	background-color:	red;	color:	white;	}
.rc-orange	{	background-color:	orange;	color:	white;	}
.rc-yellow	{	background-color:	yellow;	color:	black;	}
.rc-green	{	background-color:	green;	color:	white;	}
.rc-blue	{	background-color:	blue;	color:	white;	}
.rc-teal	{	background-color:	teal;	color:	white;	}
.rc-purple	{	background-color:	purple;	color:	white;	}

/* Pastel Colors */
.pc-tan				{	background-color:	#f7eace;	color:	black;	}
.pc-lavender		{	background-color:	#a4a0c5;	color:	black;	}
.pc-dream			{	background-color:	#bbe0d9;	color:	black;	}
.pc-seafoam			{	background-color:	#85d2ca;	color:	black;	}
.pc-storm			{	background-color:	#9eaebb;	color:	black;	}
.pc-amethyst		{	background-color:	#88368b;	color:	white;	}
.pc-thunder			{	background-color:	#928f8a;	color:	white;	}
.pc-slate			{	background-color:	#686c75;	color:	white;	}
.pc-ocean			{	background-color:	#0c7b96;	color:	white;	}

/* End of File */