/* Created by Paul Gonzalez Becerra */

body
{
	background-color:	azure;
}

.navbar
{
	border-bottom:	2px solid cornflowerblue;
	background-color:	black;
	color:	whitesmoke;
	min-height:	64px;
}

.logo-text
{
	height:	64px;
	line-height:	64px;
	font-weight:	bold;
	padding-left:	8px;
	padding-right:	8px;
}

.navbar .navbar-header
{
	margin-right:	8px;
}

.navbar ul.nav li
{
	margin-left:	4px;
	margin-right:	4px;
	margin-top:	8px;
}

.navbar ul.nav li a
{
	color:	azure;
}

.navbar ul.nav li a:hover
{
	color:	paleturquoise;
}

.content
{
	margin-top:	72px;
}

.project
{
	display:	block;
	border-right:	2px solid cornflowerblue;
}

.project.code-green
{
	border-right-color:	palegreen;
}

.footer
{
	text-align:	center;
	font-size:	12px;
	font-weight:	bold;
}

.color-light
{
	background-color:	whitesmoke;
	color:	black;
}

.color-light a
{
	color:	black;
	font-style:	italics;
}

.color-dark
{
	background-color:	gray;
	color:	whitesmoke;
}

.color-dark a
{
	color:	whitesmoke;
	font-style:	italics;
}

.namespace-link
{
	text-align:	right;
}

.namespace-link:hover
{
	cursor:	pointer;
}

.doc-interface
{
	display:	none;
}

.project-img
{
	width:	25%;
	height:	25%;
}

.project-image
{
	width:	25%;
	float:	left;
}

.desc
{
	width:	75%;
	float:	left;
}

.project-footer
{
	clear:	both;
}

/* End of File */
