/* Created by Paul Gonzalez Becerra */

body
{
	margin:	0px;
	padding:	0px;
	background:	#4aa452;
	min-width:	750px;
	font-family:	arial;
	color:	white;
}

a:link, a:visited
{
	text-decoration:	none;
	color:	#eeffd4;
}

a:hover
{
	text-decoration:	underline;
}

nav.gn ul, .internal-links ul
{
	list-style-type:	none;
	margin:	0px;
	padding:	0px;
}

nav.gn ul li
{
	width:	25%;
	height:	32px;
	text-align:	center;
	font-size:	24px;
	display:	block;
	line-height:	32px;
	float:	left;
	color:	black;
}

nav.gn ul li a, .internal-links ul li a
{
	display:	block;
	width:	100%;
	height:	32px;
	line-height:	32px;
	text-align:	center;
	font-size:	24px;
	background-color:	#4a4a52;
	color:	#94d5ff;
	text-decoration:	none;
}

nav.gn ul li a:hover, .internal-links ul li a:hover
{
	background-color:	#94d5ff;
	color:	#101820;
	text-decoration:	none;
}

.stopper
{
	clear:	both;
	border-bottom:	#393939 solid 1px;
	margin-top:	4px;
}

.content
{
	clear:	both;
	margin-top:	16px;
	margin-left:	8px;
	margin-right:	8px;
}

.footer
{
	clear:	both;
	text-align:	center;
	color:	#393939;
}

.col-1
{
	width:	25%;
	float:	left;
}

.col-2
{
	width:	74%;
	float:	left;
	margin-left:	1%;
}

.internal-links ul li
{
	width:	100%;
	height:	32px;
	display:	block;
}

.feed
{
	border-left:	1px #393939 solid;
	border-right:	1px #393939 solid;
	border-bottom:	1px #393939 solid;
}

.feed .feed-heading
{
	display:	block;
	width:	96%;
	height:	24px;
	font-size:	20px;
	line-height:	24px;
	font-weight:	bold;
	background-color:	#393939;
	color:	azure;
	padding-left:	4%;
}

.feed .feed-heading .timestamp
{
	font-size:	12px;
	font-weight:	normal;
	float:	right;
	font-family:	times;
	margin-right:	16px;
}

.feed .feed-content
{
	padding-bottom:	12px;
	padding:	4px;
	background-color:	#4a4a52;
}

/* End of File */
